﻿

<b>TERMOS E LICENÇA DE USO–</b> 
<b> ALFRED DELIVERY </b> 
<b> SHOPPER/USUÁRIO PROFISSIONAL </b>  

Compliance jurídico – atualizado em 12 de Setembro de 2018

Em conformidade com: Diretriz Europeia 94/96/CE; “Protection and Eletronic DocumentsAct- PIPEDA; Constituição Federal Brasileira (1988); PL 181 do Senado Federal Brasileiro; Lei de Habeas Data (1997); Código de Defesa do Consumidor (1990); Lei de Acesso à informação (2011); Lei de Cadastro Positivo (2011); Lei de Mobilidade Urbana – Lei 12.587/12Marco Civil da Internet (2014), General Data Protection Regulation (GDPR) – 2016/679 e Lei Geral de Proteção de Dados (Brasil) – Lei 13.709/18
________________________________________________________


CLÁUSULA 1ª: DAS DISPOSIÇÕES INICIAIS


1.1.  Ao aceitar eletronicamente o presente termo, através do clique no botão “LI E ACEITO OS TERMOS DE USO” da página de cadastro complementar a esta, o SHOPPER, pessoa física maior e capaz, automaticamente adere e concorda em se submeter integralmente a estes termos e condições, declarando que disponibiliza no APLICATIVO suas informações e estatísticas a título gratuito, ainda que diante de qualquer de suas alterações futuras, além de aceitar as disposições das políticas deste aplicativo.

1.2. Este instrumento será o único a reger a relação entre o SHOPPER e a ALFRED, não impedindo que outras negociações sejam feitas de forma subsidiária e posterior. A aceitação destes TERMOS DE USO é imprescindível para que que o SHOPPER possa se utilizar do APLICATIVO.

1.3. Fica estabelecido que neste documento estarão tanto os TERMOS DE USO do APLICATIVO como a LICENÇA DE USO, fixando os termos e condições gerais que limitarão e nortearão o uso do APLICATIVO pelo licenciado.

1.4. A aceitação do presente documento implica na declaração de conhecimento de todas as suas disposições e cláusulas, sem exceções. A aceitação somente será plena e integral, sendo uma declaração expressa. No caso do SHOPPER discordar de alguma das disposições, terá plena liberdade para não utilizar o APLICATIVO ou cessar seu uso, se já cadastrado. Não é possível, portanto, alegar o desconhecimento de nenhuma das obrigações aqui dispostas.

1.5. As disposições desse documento sempre serão dispostas ao SHOPPER no momento do cadastro, e, de forma expressa, a aceitação será exigida. Aalteração destas disposições poderá ocorrer a qualquer momento, o uso do APLICATIVO significará consentimento em se vincular às novas disposições e ao novo TERMO.

1.6. O APLICATIVO é propriedade e iniciativa exclusiva da MICALI DESENVOLVIMENTO DE APLICATIVOS LTDA – ME.

1.7. Os dados requeridos no cadastro inicial ficam sob guarda exclusiva da ALFRED.  As disposições referentes ao tratamento e armazenamento dos dados estão presentes nas POLÍTICAS DE PRIVACIDADE da ALFRED DELIVERY.

    1.7.1. Os dados aqui mencionados estão especificados à frente em cláusula oportuna sobre o procedimento do cadastro.

    1.7.2. Demais dados disponibilizados pelo USUÁRIO no uso da PLATAFORMA (dados nãorequeridos no cadastro inicial) não serão necessariamente armazenados e tratados pela SELLEAD, estando especificados à frente em cláusula oportuna.

1.8. As seguintes definições aplicam-se ao presente documento:

“APLICATIVO” ou “ALFRED” ou “ALFRED DELIVERY”: É o aplicativo de tecnologia da informação denominado “ALFRED DELIVERY”,consubstanciado em plataforma eletrônica disponível para smartphones e computador que utilizem o sistema Android, web e iOS. Desenvolvido porMICALI DESENVOLVIMENTO DE APLICATIVOS LTDA - ME. Tem como objetivo a entrega de mercadoria por entregadores eventuais licenciados, como abaixo definido;

“CADASTRO”: é a ficha cadastral digital completa na qual oUSUÁRIO, seja eleSHOPPER ou CLIENTE, pessoa física maior e capaz,incluirá seus dados pessoais e profissionais, informando a SENHA e nomea fim de obter acesso ao APLICATIVO. Os dados pedidos podem ser diferentes de acordo com tipo de usuário;

“CONTROLADOR”: De acordo com a Lei Geral de Proteção de Dados é pessoa natural ou jurídica a quem competem as decisões referentes ao tratamento de dados pessoais;
“DESENVOLVEDOR”:MICALI DESENVOLVIMENTO DE APLICATIVOS LTDA – ME, pessoa jurídica de direito privado, inscrita no CNPJ nº 28.663.927/0001-20, estabelecida na Rua Iguape, nº 485, apartamento nº 13, Jardim Paulista, na cidade de Ribeirão Preto, Estado de São Paulo, CEP: 14090-092, responsável pelo desenvolvimento, ajustes e manutenções do APLICATIVO;

“ENCARREGADO”: indicado pelo CONTROLADOR, atua como canal de comunicação entre o controlador e os titulares dos dados e as autoridades estatais, quando necessário;

“LOGIN”: trata-se do usuário e senha informado pelo USUÁRIOao preencher seuCADASTRO, sendo o meio de interlocução definido para comunicação com o USUÁRIO;

“OPERADOR”: pessoa natural ou jurídica que realiza tratamento de dados pessoais em nome do controlador;

“CLIENTE” ou “USUÁRIO CLIENTE”: éusuário do APLICATIVO, pessoa física maior e capaz, que incluirá seus dados pessoais e profissionais no APLICATIVO, lançando suas informações no âmbito virtual com intuito de aquisição e recebimento dos produtos ofertados no aplicativo;

“PARCEIROS”: são os estabelecimentos comerciais, pessoas jurídicas, responsáveis por fornecer os produtos ofertados no APLICATIVO;

“P&A LTDA.”: é a pessoa jurídica de direito privado, estabelecida na Praça Rio Branco, 13, sala 2, bairro Centro, Cidade de Espírito Santo do Pinhal, Estado de São Paulo, inscrita no CNPJ/MF sob nº 00.726.293/0001-99 contratada da GCP, no Brasil, para coordenar o Programa Brasil da GCP e para implementar a ferramenta do APLICATIVO;

“SENHA”: é a sequência de letras ou números, escolhida pelo USUÁRIO, composta de caracteres escolhidos particularmente, a qual deverá ser previamente informada pelo USUÁRIO quando do acesso ao APLICATIVO. Poderá ser recuperadaconforme orientações expostas no APLICATIVO;

“SITE” é o portal eletrônico do ALFRED DELIVERY, localizado no endereço http://www.alfreddelivery.com;

“SHOPPER” ou “USUÁRIO SHOPPER”: o usuário responsável pelas entregas, ativa e opera o APLICATIVO quando deseja, realizando as coletas e entregas demandadas;

“INTERCONEXÃO”: transferência de dados de um banco para outro.


CLÁUSULA 2ª –DO OBJETIVO

2.1.O APLICATIVO ALFRED DELIVERY, tem como principal objetivo promover a aproximação entre usuários entregadores (SHOPPERS), que possuirão licença para uso das funcionalidades do APLICATIVO e usuários CLIENTES, que comprarão mercadorias se utilizando da plataforma, visando sempre que ambas as partes possuam vantagens advindas desta relação intermediada pelo ALFRED.
2.2. O ALFRED reitera que somente visa a promoção deste objetivo principal e nada mais, todas as atividades e esforços serão visando a melhor experiência dos usuários, sejam SHOPPERS ou CLIENTES.
2.3. A licença concedida ao SHOPPER e o uso do APLICATIVO pelo usuário CLIENTE são formas de garantir essa relação benéfica, o ALFREDapenas faz a intermediação.

CLÁUSULA 3ª – DOS REQUISITOS PARA O USO DO APLICATIVO
3.1. É imprescindível que, no uso do APLICATIVO, o SHOPPER atenda às seguintes condições:
    a) tenha acesso ao APLICATIVO, da forma que bem entender, mas preferencialmente em aparelho móvel próprio;
    b) mantenha o APLICATIVO instalado e atualizado no aparelho que estiver usando;
    c) autorize o recebimento de notificações push, mensagens de texto (SMS) e e-mails enviados pelo APLICATIVO;
    d) permaneça conectado em sua conta durante o uso do APLICATIVO (log in);
    e) tenha uma conexão internet estável o suficiente para atendimento dos pedidos gerados no APLICATIVO;
    f) mantenha os mecanismos de localização e posicionamento ativados (GPS);
    g) tenha posse do veículo cadastrado durante o período de uso do APLICATIVO.

CLÁUSULA 4ª – DAS FUNÇÕES DO SHOPPER NO APLICATIVO
4.1.O usuárioSHOPPERpoderá desempenhar as atividades de COMPRA e de ENTREGA,bem comodemais deveres anexos que figurem adequados para a finalidade e objetivo do APLICATIVO.
4.2. Quando um pedido é efetuado no aplicativo e encaminhado a um SHOPPER, este ficará encarregado de entender a especificidade do pedido e do produto, para depois comprá-lo ou buscá-lo, da forma que entender cabível para atender a demanda do usuário CLIENTE;
4.3. Se necessária a compra o produto, o SHOPPER deverá fazê-la da maneira que entender conveniente, recebendo posteriormente o valor do produto acrescido do valor do serviço desempenhado;
4.4. Quando necessário que o SHOPPER escolha um produto, deverá fazê-lo da melhor forma possível, prezando sempre por um produto de visível qualidade, rejeitando os avariados, quebrados, estragados ou ainda vencidos. Se não for possível, deverá escolher um produto médio, prezando por aqueles em estado intacto.
4.5. Do momento da coleta do produto até o momento da entrega, o SHOPPER deverá tomar os devidos cuidados com a coisa, de modo que nãohaja alterações em sua substância. Qualquer avaria ou mudança que descaracterize o produto será de responsabilidade exclusiva do SHOPPER, estando ele obrigado a possíveis ressarcimentos que venham a surgir.
4.6. O transporte deverá ser feito da forma adequada. O produto deverá ser levado em veículo apropriado para conservar suas características essenciais até a pessoa ou local exato demonstrado no APLICATIVO.
4.7. No momento da entrega deverá ceder o produto de imediato ao CLIENTE, tendo a confirmação do pagamento, sem exigência de valores extras ou bonificações.
4.8. O SHOPPER receberá uma quantia fixa acrescida de uma quantia variável por entrega realizada. O valor base fixo é de R$ 7,00 (sete reais) por entregas de até 5 (cinco) quilômetros de distância entre o local de coleta da mercadoria e o local de entrega. Os demais quilômetros rodados gerarão acréscimo de R$ 1,00 (um real) por quilômetro.

CLÁUSULA 5ª – DO CADASTRO E DA ADMISSÃO DO SHOPPER NO APLICATIVO

5.1. Aquele que se cadastrar com o intuito de exercer as funções descritas anteriormente deverá fornecer, inicialmente, os seguintes dados: Nome completo, data de nascimento, endereço, dados bancários, dados do veículo, foto pessoal, foto do veículo e foto do documento de habilitação (CNH) da categoria apropriada ao veículo conduzido.

5.2. O SHOPPER garante que todos os dados submetidos são verdadeiros, caso contrário o ALFRED fica autorizado a apagar o cadastro e bloquear o uso do APLICATIVO, sem prejuízo de cobrar as responsabilizações cabíveis por danos ou prejuízos causados para a plataforma ou outros usuários.

5.3. O SHOPPER declara que tem pleno conhecimento que o APLICATIVOreterá todas as informações enquanto necessário e que manterá sigilo das mesmas, não tratando dados sensíveis de nenhuma forma.

5.4. O APLICATIVO não realiza processos seletivos para usuários que desejem exercer as funções de SHOPPER, entretanto, está autorizado a recusar, livre e imotivadamente qualquer um que se submeter ao pleito de tornar SHOPPER, bem como tomar ações preventivas impedindo o acesso ao APLICATIVO.

5.5 O ALFRED declara que não verifica ou fiscaliza a forma como os serviços são feitos, estando o SHOPPER livre para fazê-lo da forma que entender, de modo a respeitar os deveres e responsabilidades expostos infra.Também não fiscaliza as condições dos veículos, smartphones, funcionamento de redeinternet, download e atualização do aplicativo.

5.6. O SHOPPER entende e concorda que é o único responsável pelos problemas que surgirem na entrega ou transporte de um produto, e responderá por qualquer conduta danosa, prejudicial, ilegal ou indevida que pratique no uso do APLICATIVO. E que o descumprimento dessa disposição poderá implicar na aplicação da política de desligamento e suspensão da licença de uso do APLICATIVO.


CLÁUSULA 6ª – DOS DEVERES E RESPONSABILIDADES DOS SHOPPERS

6.1. No exercício das funções de SHOPPER deveres e responsabilidades deverão ser observados para o melhor desempenho das atividades.

    6.1.1. O SHOPPER deverá cuidar da coisa transportada. No caso de causardanos ou avarias à coisa ficará incumbido de ressarcir o cliente com o mesmo bem, se possível, ou arcar com as perdas e danos, se impossível fazê-lo. Caso o ALFRED se antecipe no ressarcimento, o SHOPPER fica responsável a realizar o ressarcimento cabível ao APLICATIVO.

    6.1.2. O SHOPPER entender que o ALFRED não é responsável, de forma alguma, aos danos ou prejuízos que diretamente não der causa.

    6.1.3. O veículo, sua manutenção, cuidados e limpeza serão de total responsabilidade do SHOPPER, não ficando o APLICATIVOobrigado a prover qualquer bonificação ou extra para os eventuaisgastos que venham a surgir.

    6.1.4. O equipamento eletrônico necessário para acessar o APLICATIVO e seu bom funcionamento são de responsabilidade integral do SHOPPER. Qualquer problema oriundo dessa natureza exime o ALFRED de responsabilidades.

    6.1.5. A rede celular (Internet) deverá ser provida pelo SHOPPER, o funcionamento, ocorrência de oscilações e seus reflexos no uso do APLICATIVO não são responsabilidades do ALFRED. Problemas nas conexões bluetooth, rede GPS e demais conexões e redes serão de exclusiva responsabilidade do SHOPPER.

    6.1.6. O cuidado e atualização de todos os documentos, bem como sua renovação periódica é de responsabilidade exclusiva do SHOPPER. Estando responsável por possíveis problemas que venham a acontecer em decorrência disso.

    6.1.7. O SHOPPER deverá arcar com todos os custos, despesas e tributosprovenientes da sua atividade. Sejam relacionados à manutenção do veículo, do equipamento,das formas de pagamento que venha a usar (e.g. taxas de cartões de crédito).

    6.1.8. O SHOPPER deverá se abster de quaisquer condutas, de natureza dolosa, que possam gerar prejuízos ou danos aos CLIENTES, aos produtos e ao ALFRED, tais como:

        a) usar o aplicativo de forma incorreta ou fraudulenta, se valendo de vantagens indevidas ou prejudiciais a outrem;
        b) criar perfil com informações inverídicas ou duplicar um cadastro já existente;
        c)manipular sistemas de navegação pelo método que seja, com intuito de modificar a real distância de uma entrega;
        d) se utilizar de métodos diversos para obtenção indevida de vantagens dentro da plataforma ou de seus serviços;
        e) combinar entregas ou agendá-las por fora do aplicativo, se ficar constatado que somente foi possível obtê-las pelo uso do APLICATIVO. Também, fica impedido de angariar clientes dentro do APLICATIVO para oferecer serviços por fora;
        f) fazer propaganda para serviços concorrentes ou semelhantes de transporte, seja ele de pessoas ou coisas, enquanto se utilizar da licença do APLICATIVO;
        g) vincular a logomarca ou nome da ALFRED para realizar serviços que não sejam os oferecidos no APLICATIVO;
        h) oferecer seu cadastro para outra pessoa realizar viagens em seu nome;
        i) realizar entregas com veículo incompatível ao divulgado no aplicativo;
        j) portar armamento de forma ilegal ou materiais ilícitos;
        k) utilizar de informações dos clientes de forma não autorizada ou produzir material audiovisual de forma proibida;
        l) divulgar informações particulares de usuários, como nome, endereço ou demais informações que venha a ter acesso;
        m) praticar qualquer ato agressivo ou violento;
        n) constranger sexual ou moralmente;
        o) contatar fisicamente o CLIENTE sem expresso consentimento;
        p) cometer qualquer crime ou contravenção penal enquanto usar o APLICATIVO ou estiver vinculado ao ALFREDDELIVERY, sob pena de responsabilidade civil;
        q) dirigir em estado de embriaguez ou sob o efeito de drogas, psicoativos, remédios ou qualquer outra substância que altere a percepção sensível, seja por consumo voluntário ou não;
        r) discriminar o usuário, decidindo não entregar ou prejudicar a entrega da mercadoria por motivos raciais, étnicos, afetivos, entre outros.

6.2. O desrespeito à uma das disposições anteriores ou qualquer outra destes TERMOS, dá ao ALFRED o direito de desligar o SHOPPER do APLICATIVO, encerrando a autorização para uso do APLICATIVO. A política de desligamento do ALFREDDELIVERY poderá ser aplicada de forma incondicionada e imotivada.

6.3. De forma similar à hipótese do item anterior, o descumprimento de uma das disposições anteriores poderá cominar na aplicação de uma suspensão, sustando a licença de uso. O ALFRED também poderá aplicar a suspensão de forma incondicionada e imotivada.

6.4. O SHOPPER deverá se utilizar do APLICATIVO apenas para os fins estritamente legais ou permitidos legalmente, se balizando pelo objetivo destes TERMOS, não os contrariando em hipótese alguma.


CLÁUSULA 7ª – DA LICENÇA DE USO DO APLICATIVO

7.1. O SHOPPER declara que tem ciência que o presente instrumento garante o uso, em caráter de licença, de forma onerosa e não exclusiva ao usuário que deseja desempenhar as funções de SHOPPER dentro do APLICATIVO.

7.2. A aceitação a esta licença implica ao SHOPPER a manutenção do sigilo dos dados dos clientes a que tiver acesso, não devendo em hipótese alguma ser reveladas, publicadas ou divulgadas sem autorização escrita do cliente, sob pena de responder por medida judicial civil ou penal sob os prejuízos causados.

7.3. O SHOPPER deverá aceitar integralmente os TERMOS DE USO para se utilizar das funcionalidades do APLICATIVO.

7.4. O SHOPPER ficará obrigado a remunerar a licenciante pelo uso do APLICATIVO nos seguintes percentuais e valores dispostos na cláusula 8ª.

7.5. AoSHOPPERé conferida a liberdade de decidir quando, como e onde irá usar o APLICATIVO, não estando vinculado a cronogramas e programações específicas.


CLÁUSULA 8ª – DO PAGAMENTO AO ALFRED PELA LICENÇA DE USO DO APLICATIVO

8.1. As atividades desempenhadas pelo SHOPPERS no uso do APLICATIVO gerarão uma obrigação de pagar à licenciante um valor pecuniário de acordo com a especificidade da entrega realizada.

8.2. Do valor recebido pelo SHOPPER por uma entrega será descontado 15% (quinze por cento) para o ALFRED a título de contraprestação pela licença de uso.
    8.1. No caso do valor total (valor da compra acrescido do valor da entrega) estar sujeito a aplicação de descontos ou vouchers, o SHOPPER receberá os valores previstos nos itens 8.2.,8.2.1. e 8.3.
8.3. Na compra das MERCADORIAS, o SHOPPER também deverá repassar 15% (quinze por cento) do valor da compra para o ALFRED.
8.4. Nas hipóteses em que o usuário CLIENTE paga diretamente pelo APLICATIVO com cartão de crédito e ocorre o chargeback ou estorno, o SHOPPER não é prejudicado no que diz respeito aos itens 8.2 e 8.3.


CLÁUSULA 9ª – DA INEXISTÊNCIA DE VÍNCULOS

9.1. O presente TERMODEUSO não vincula de forma alguma em caráter societário, econômico, cooperativo, participativo e trabalhista, estando o SHOPPER ciente de que a quantidade horas em uso do APLICATIVO é de sua mera decisão e não implica em nenhuma vinculação.

9.2 O APLICATIVO tem uma proposta de caráter econômico auxiliar, não essencial e não recorrente, portanto todos os ganhos que o SHOPPER obtiver serão fruto de sua decisão individual por usar a seu livre arbítrio o APLICATIVO. Ficando claro que a ativação do APLICATIVO é decisão única, exclusiva e incondicionada do SHOPPER, não gerando qualquer subordinação ao ALFRED.

9.3. O SHOPPER fica ciente de que os serviços prestados são direcionados aos CLIENTES, restando ao APLICATIVOtão somente a geração da informação de demanda dos serviços solicitados pelos CLIENTES, sendo estes os contratantes.


CLÁUSULA 10ª – DOS VOUCHERS E PROMOÇÕES

10.1. O ALFRED poderá, imotivadamente, a qualquer tempo e a qualquer usuário ou grupo de usuários, seja em parceria com outra empresa ou sozinha, emitir um código promocional ou voucher para descontos no uso do aplicativo. Nessas hipóteses, os valores recebidos pelo SHOPPER serão os mesmos que em uma situação ordinária, sem aplicação de descontos ou ônus sob o recebido.

10.2. O uso indevido de um dos meios promocionais implicará nas responsabilizações citadas anteriormente, cabendo aplicação da política de desligamento e suspensão da licença de uso.


CLÁUSULA 11ª – DA AVALIAÇÃO DOS SHOPPERS


11.1. O APLICATIVO se utilizará de um sistema de avaliação dos SHOPPERS baseado no feedback dos usuários CLIENTES, com notas de 0 (zero) a 5 (cinco) pontos. A nota média será calculada com base nos últimos 21 (vinte e um) dias, contando todas as avaliações recebidas nesse período de tempo.

11.2. A atividade desempenhada pelo SHOPPER ao se utilizar do APLICATIVO está intimamente ligada com sua avaliação. Os SHOPPERS com avaliação média abaixo de 3 (três) pontos, ou com alta incidência de avaliações abaixo dos 3 (três) pontos, ainda que sua média seja mais alta que isso, serão desligados da plataforma, tendo sua licença de uso suspensa ou cessada.


CLÁUSULA 12ª – POSSIBILIDADES DE RESOLUÇÃO UNILATERAL E SUSPENSÃO DA LICENÇA

12.1. Fica definido que a aplicação da política de desligamento ou a suspensão do usuário SHOPPER implica em uma revogação da licençade uso, podendo ela ser temporária ou permanente, cabendo ao ALFRED decidir da forma que entender.

12.2. A revogação da licença implica na proibição de uso de todas as funções e utilidades do APLICATIVO.

12.3. Na hipótese de aplicação de suspensão, o SHOPPER perde a licença de uso por período de tempo determinado pelo APLICATIVO, podendo ser estendido e/ou prorrogado imotivadamente a qualquer tempo.

12.4. O ALFRED declara que em casos que impliquem na revogação da licença de uso estará aberto à acordo para apurar os fatos que tenham motivado a revogação, podendo se retratar e não aplicar a punição.

12.5. O ALFRED poderá, de mera liberalidade, tentar contatar o SHOPPER suspenso ou desligado para evitar a revogação da licença de uso.


CLÁUSULA 13ª – HIPÓTESES QUE O ALFRED NÃO SE RESPONSABILIZA

13.1. O ALFRED estabelece que não é responsável, de forma alguma, pelos veículos usados pelos SHOPPERS. Portanto, qualquer avaria ou dano infligido ao veículo durante o uso do APLICATIVO não ensejará qualquer tipo de ressarcimento por parte do ALFRED.

13.2. De igual forma, o ALFRED não é responsável por outros bens que sejam utilizados, como aparelhos telefônicos, aparelhos de navegação (GPS), demais aparelhos eletrônicos itens e acessórios pessoais, itens e acessórios do veículo, consumíveis, entre outros. A eventual ocorrência de dano ou perda destes itens não será responsabilidade do ALFRED.

13.3.Os requisitos expostos anteriormente para uso do APLICATIVO serão de responsabilidade única e exclusiva do SHOPPER.

CLÁUSULA 14ª – PROPRIEDADE INTELECTUAL E DIREITOS AUTORAIS

14.1.O SHOPPER entende que os ambientes virtuais são de propriedade única e exclusiva da ALFRED DELIVERY, estando obrigado a não desrespeitar a propriedade intelectual do ALFREDe desde que esteja formalmente autorizado, nãopoderá expor a riscos, danos e/ou por qualquer mudança ou ato infrinja quaisquer direitos do licenciante ou de outrem, sob pena de reparação.

    14.1.1.São de propriedade do ALFRED todos os programas, módulos, manuais, documentação associada que estejam presentes ou anexos ao uso do APLICATIVO.


14.2. O SHOPPER está autorizado, entretanto, a usara logomarca do ALFRED, com finalidade de identificação e divulgação, estando sujeito a ser responsabilizado se disso resultarem complicações ou prejuízos.

    14.2.1. Se na prática de ato ilegal, criminoso, ofensivo ou que afete a imagem do APLICATIVO, o SHOPPER estiver se utilizando de identificação do ALFRED, da forma que seja, poderá responder pelos danos morais, perdas, danos e lucros cessantes que possível repercussão negativa ou associação venha gerar.

14.3. Declaram as partes, mutuamente, que todos os itens atrelados à propriedade intelectual de quaisquer dos produtos com os quais se envolverem, para os fins destes serviços, serão tratados com o devido respeito a seu proprietário, não podendo sobre estes exigirem participação, propriedade, uso, gozo ou fruição, exceto se previamente autorizados em instrumento particular próprio.


CLÁUSULA 16ª – DO CANAL OFICIAL DE INTERLOCUÇÃO

16.1. Fica definido que os canais oficiais de interlocução são via endereços eletrônicos (e-mail) e chat online na interface do APLICATIVO, podendo, qualquer um dos dois, ser acionado a qualquer tempo e a qualquermotivo. O endereço utilizado pelo ALFRED para qualquer tipo de comunicação será o alfred.delivery@alfreddelivery.com.

16.2. O ALFRED empregará os melhores esforços para responder o usuário SHOPPER que entrar em contato se utilizando qualquer um dos meios de comunicação, mas não estabelece prazo mínimo fixo para responder satisfatoriamente os usuários, a resolução poderá variar em função da complexidade e extensão do problema.


CLÁUSULA 17ª – DA SÁIDA DO APLICATIVO

17.1. O usuário SHOPPER poderá, a qualquer momento sair do APLICATIVO. A saída poderá ser feita a sem justificativa, pelo próprio APLICATIVO ou via e-mail enviado para alfred.delivery@alfreddelivery.com, feito isto, o SHOPPER deverá parar de usar o APLICATIVO.

17.2. A saída do APLICATIVO implica no encerramento da licença de uso. Assim, após a saída, o SHOPPER não poderá se utilizar do APLICATIVO para essas prerrogativas e finalidades. Sem impedimento de fazer um novo cadastro.

17.3. Quanto aos dados pessoais, serão aplicadas as disposições da Política de Privacidade no que se refere a eliminação ou portabilidade desses dados pessoais sensíveis.

17.4. A existência de débitos decorrentes do uso do APLICATIVO não será extinta pela saída do SHOPPER do aplicativo, não importando se a parte devedora for a licenciada ou a licenciante. Existe, portanto, possibilidade de cobrança posterior, judicial ou extrajudicial.


CLÁUSULA 18ª – DA RESOLUÇÃO AMIGÁVEL

18.1. Toda e qualquer discussão ou controvérsia oriunda desta relação deverá, obrigatoriamente, antes de qualquer medida judicial, ser formalmente relatada à parte contrária, via envio de e-mail com endereço eletrônico idôneo, concedendo-se 10 (dez) dias para solução do problema ou apresentação de justificativas pela outra parte, nunca sendo a via judicial adequada sem antes de se instaurar a tentativa de resolução amigável cominada junto ao presente.

CLÁUSULA 19ª – DO FORO

19.1. Não sendo possível a resolução amigável tratada na cláusula anterior, as partes convencionam o foro de Ribeirão Preto, Estado de São Paulo para dirimir todas e quaisquer lides oriundas do presente instrumento, em detrimento a qualquer outro, por mais privilegiado que seja.


CLÁUSULA 20ª – DISPOSIÇÕES GERAIS

20.1. A permanência no APLICATIVO implica no aceite a qualquer mudança ou alteração nesses TERMOSDEUSO, visto que estes sempre estarão à disposição dos usuários.

20.2. Os detalhes referentes ao tratamento de dados se encontram detalhados nas POLÍTICASDEPRIVACIDADE da SELLEAD, que o USUÁRIO declara ter conhecimento e aceitar de forma conjunta aos TERMOSDEUSO.

20.3. O SHOPPERdeclara ter conhecimento dos TERMOSDEUSO dos CLIENTES, aceitando o referido documento em sua totalidade. (Disponível no aplicativo e em alfreddelivery.com)

20.4. Qualquer menção ou feedback do ALFREDDELIVERYem texto, áudio, vídeo, imagem, comentário em página da Internet, aplicativo, rede social ou de qualquer outra forma, dá ao APLICATIVO o direito de se utilizar daquele conteúdo, explorando, copiando e reproduzindo em qualquer escala, sem qualquer débito de qualquer valor.

20.5. O ALFREDpoderá transferir ou ceder sua posição contratual estabelecida nestes TERMOS bem como direitos e créditos deles decorrentes sem aviso prévio ou necessidade de consentimento do SHOPPER.



