﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115545281-5"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-115545281-5');</script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Alfred Delivery - Você pede, s gente entrega </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Você sempre quis alguém que fizesse tudo pro você. O Alfred nasceu há pouco tempo em Ribeirão Preto, mas já está em crescimento acelerado e logo estará em outras cidades.">
    <meta name="keywords" content="Alfred, delivery, pet shop, supermercado, farmacia, tempo, papelaria, ribeirão preto, startup, unicórnio, bebidas">
    <link rel="icon" href="~/static/img/favicon.png">
    <link rel="stylesheet" href="~/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/static/css/swiper.min.css">
    <link rel="stylesheet" href="~/static/css/animate.css">
    <link rel="stylesheet" href="~/static/css/lity.min.css">
    <link rel="stylesheet" href="~/static/css/siteapp.css">
    <meta property="og:url" content="https://www.alfreddelivery.com.br/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Alfred - Você pede, a gente entrega">
    <meta property="og:description" content="Você sempre quis alguém que fizesse tudo pro você. O Alfred nasceu há pouco tempo em Ribeirão Preto, mas já está em crescimento acelerado e logo estará em outras cidades.">

    <!--[if lt IE 9]>
    <script src="~/static/js/html5shiv.min.js"></script>
    <script src="~/static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="5" class="scrollspy-example">
    <nav class="navbar navbar-default navbar-fixed-top appsLand-navbar navBar__style-2">
        <div class="container">
            <div class="navbar-header">
                <span class="menu-toggle">
                    <i class="chart"></i>
                    <i class="chart"></i>
                    <i class="chart"></i>
                </span>
                <a class="navbar-brand" href="./" target="_self" title="Home"><img alt="Alfred Delivery" src="~/static/img/logo-alfred.png"></a>
            </div>
            <div class="app-links" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right appsLand-links">
                    <li class="visible-xs-block text-center mobile-size-logo">
                        <a href="./" target="_self" title="Home"><img alt="Alfred Delivery" src="~/static/img/logo-alfred.png" class="img-responsive"></a>
                    </li>
                    <li><a class="scroll" href="#about" target="_blank" title="Compre em nossa loja">quem somos</a></li>
                    <li><a href="#partner" data-toggle="modal" title="Seja um fornecedor">seja um fornecedor</a></li>
                    <li><a href="https://shopper.alfreddelivery.com/" target="_blank" title="Seja um Shopper">seja um shopper</a></li>
                    <li><a href="~/franqueado">seja um franqueado</a></li>
                    <li><a href="https://apple.co/2EmmPJN" target="_blank" title="Faça o download na Apple Store"><img src="~/static/img/loja_app_store.png" alt="Faça o download na Apple Store" style="position: relative;top: -10px"></a></li>
                    <li><a href="https://bit.ly/2Eolked" target="_blank" title="Faça o download no Google Play"><img src="~/static/img/loja_google_play.png" alt="Faça o download no Google Play" style="position: relative;top: -10px"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="active-navbar appsLand-header custom-shape-1" id="home">
        <div class="app-overlay">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4" style="margin:50px 0 0 0">
                            <div class="site-intro-content">
                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">Você pede,</h1>
                                <p class="lead wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                    a gente entrega!
                                </p>
                                <ul class="list-inline list-unstyled header-links">
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                        <a href="http://alfreddelivery.com/app" target="_blank" class="appsLand-btn appsLand-btn-gradient btn-inverse">
                                            <span> Experimente e surpreenda-se</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 col-md-7 hidden-xs hidden-sm">
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <img alt="Alfred Delivery" src="~/static/img/alfred-cel.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="entry-main">
        <section class="mini-feature__style-2 section-without-title" id="about">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-left">Como <br>funciona?</h2>
                                <p class="bg-feature-lh text-left">Simples! Você pede o que quiser, a gente busca e entrega aonde você estiver. Supermercado, farmácia, pet shop, leva e traz ou qualquer outra coisa, é só pedir</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/icon1.png" alt="Alfred Delivery tudo pelo celular" class="img-responsive displayInline"></h2>
                                <p class="bg-feature-lh text-center">Tudo pelo celular, bem simples de usar!</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/icon2.png" alt="Alfred Delivery vapt vupt" class="img-responsive displayInline"></h2>
                                <p class="bg-feature-lh text-center">Vapt Vupt: receba em até uma hora</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/icon3.png" alt="Alfred Delivery economize" class="img-responsive displayInline"></h2>
                                <p class="bg-feature-lh text-center">Economize tempo e dinheiro</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="mini-feature__style-2 section-without-title">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-left"><img src="~/static/img/mapa.png" alt="Alfred Delivery Onde estamos " class="img-responsive"></h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s" style="margin:115px 0 0 0">
                                <h2 class="bg-feature-ct text-left">Onde <br>estamos?</h2>
                                <p class="bg-feature-lh text-left">O Alfred nasceu há pouco tempo em Ribeirão Preto, mas já está em crescimento acelerado e logo estará em outras cidades.</p>
                                <h3>Matriz Ribeirão Preto</h3>
                                <h3>+ 20 Cidades</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features bg-feature custom-shape-1" id="features">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-6 hidden-xs" style="margin:70px 0 0 0">
                            <div class="img-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <img alt="Alfred Delivery" src="~/static/img/moca-app.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 white-color" style="margin:190px 0 0 0">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="white-color"><span class="span-girl">Um amigo de bolso, seu</span><br>delivery de tudo</h2><br><br>
                                <div class="row">
                                    <div class="col-md-4" style="margin: 5px 0 0 0"><a href="https://apple.co/2EmmPJN" target="_blank" title="Faça o download na Apple Store"><img src="~/static/img/loja_app_store.png" alt="Faça o download na Apple Store"></a></div>
                                    <div class="col-md-4" style="margin: 5px 0 0 0"><a href="https://bit.ly/2Eolked" target="_blank" title="Faça o download no Google Play"><img src="~/static/img/loja_google_play.png" alt="Faça o download no Google Play"></a></div>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonials section-bg-img" id="testimonials">
            <div class="app-overlay">
                <div class="container">
                    <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <h2 class="bg-feature-ct force-color-two">Depoimentos</h2>
                        <p>Veja o que os usuários já estão falando. Baixe, experimente e descubra você mesmo.</p>
                    </div>
                    <div class="testimonials-template">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="testimonials-slider-container wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide testimonials-slide" data-swiper-autoplay="5000">
                                            <div class="row table-row">
                                                <div class="col-lg-4 col-left table-cel">
                                                    <div class="client-info text-center">
                                                        <div class="client-pic">
                                                            <img alt="Dani Francisco" src="~/static/img/clients/dani.jpg" class="center-block">
                                                        </div>
                                                        <h4 class="client-name">Dani Francisco</h4>
                                                        <p class="client-career">Cliente</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-right table-cel">
                                                    <div class="client-review">
                                                        <p>A ração das gatinhas acabou... E o Alfred meu salvou!. "Post no Stories do Instagram".</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonials-slide" data-swiper-autoplay="5000">
                                            <div class="row table-row">
                                                <div class="col-lg-4 col-left table-cel">
                                                    <div class="client-info text-center">
                                                        <div class="client-pic">
                                                            <img alt="Carola Duarte" src="~/static/img/clients/carola.jpg" class="center-block">
                                                        </div>
                                                        <h4 class="client-name">Carola Duarte</h4>
                                                        <p class="client-career">Cliente</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-right table-cel">
                                                    <div class="client-review">
                                                        <p>
                                                            Agora mesmo tinha que sair só para buscar uma receita, e o Alfred foi para mim! Facilita muito a vida da gente.
                                                            "Trecho de Vídeo no Story do Instagram".
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonials-slide">
                                            <div class="row table-row">
                                                <div class="col-lg-4 col-left table-cel">
                                                    <div class="client-info text-center">
                                                        <div class="client-pic">
                                                            <img alt="Gil" src="~/static/img/clients/gil.jpg" class="center-block">
                                                        </div>
                                                        <h4 class="client-name">Gill Ricci</h4>
                                                        <p class="client-career">Cliente</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-right table-cel">
                                                    <div class="client-review">
                                                        <p>Pô, sem palavras. Veio para facilitar a vida! Parabéns pela iniciativa. O App ficou muito bom. "Avaliação 5 estrelas no Facebook."</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonials-slider-button-prev swiper-button-prev"></div>
                                    <div class="testimonials-slider-button-next swiper-button-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mini-feature__style-2 section-without-title bg-color-grey">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-4 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/icon4.png" alt="Alfred" class="img-responsive displayInline"></h2>
                                <h3 class="bg-feature-ct text-center">Seja um Fornecedor</h3>
                                <p class="bg-feature-lh text-center">Adicione sua loja no Alfred Delivery e comece a faturar desde já!</p><br>
                                <p><button class="btn btn-danger center-block">SAIBA MAIS</button></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/icon5.png" alt="Alfred" class="img-responsive displayInline"></h2>
                                <h3 class="bg-feature-ct text-center">Seja um Shopper</h3>
                                <p class="bg-feature-lh text-center">Quer ganhar uma grana extra fazendo entregas? Clique aqui agora</p><br>
                                <p><button class="btn btn-danger center-block">SAIBA MAIS</button></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/icon6.png" alt="Alfred" class="img-responsive displayInline"></h2>
                                <h3 class="bg-feature-ct text-center">Seja um Franqueado</h3>
                                <p class="bg-feature-lh text-center">Vamos ganhar juntos? Comece agora sua Franquia do Alfred Delivery</p><br>
                                <p><button class="btn btn-danger center-block">SAIBA MAIS</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clients-logo">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2 class="bg-feature-ct force-color">Parceiros</h2>
                    <p>Lado a lado para construir uma start up sólida e com muito respeito aos usuários</p>
                </div>
                <div class="clientLogos-slider-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <a href="#"> <img alt="Founder Institute" src="~/static/img/partners/logo-founder.png" class="img-responsive"> </a>
                        </div>
                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <a href="#"><img alt="Sevna Startups" src="~/static/img/partners/logo-sevna.png" class="img-responsive"> </a>
                        </div>
                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <a href="#">
                                <img alt="AWS" src="~/static/img/partners/logo-aws.png" class="img-responsive">
                            </a>
                        </div>
                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <a href="#"><img alt="IBM" src="~/static/img/partners/logo-ibm.png" class="img-responsive"> </a>
                        </div>
                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <a href="#"><img alt="Supera" src="~/static/img/partners/logo-supera.png" class="img-responsive"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="mini-feature__style-2 section-without-title">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2 class="bg-feature-ct force-color">Na mídia</h2>
                    <p>Alfredy Delivery já está sendo falado por aí, e será ainda mais...</p>
                </div>
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-2 col-sm-4 col-md-offset-1">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><a href="https://globoplay.globo.com/v/7207796/programa/" target="_blank" title="EPTV"><img src="~/static/img/eptv.png" alt="EPTV" class="img-responsive displayInline"></a></h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/cbn.png" alt="CBN" class="img-responsive displayInline"></h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/record.png" alt="TV Record" class="img-responsive displayInline"></h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/zumm.png" alt="Zumm" class="img-responsive displayInline"></h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="~/static/img/acidade-on.png" alt="A Cidade On" class="img-responsive displayInline"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="scrollToTop appsLand-btn appsLand-btn-gradient"><span><i class="fa fa-angle-up"></i></span></div>
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <footer class="apps-footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-3">
                    <div class="apps-short-info">
                        <a href="./" target="_self" title="Alfred Delivery"><img alt="Alfred Delivery" src="~/static/img/logo-footer.png"></a>
                    </div>
                    <a href="https://apple.co/2EmmPJN" target="_blank" title="Faça o download na Apple Store"><img src="~/static/img/loja_app_store.png" alt="Faça o download na Apple Store"></a><br><br>
                    <a href="https://bit.ly/2Eolked" target="_blank" title="Faça o download no Google Play"><img src="~/static/img/loja_google_play.png" alt="Faça o download no Google Play"></a>
                </div>
                <div class="col-md-3">
                    <ul class="links-footer list-unstyled">
                        <li><a href="./" target="_self" title="Home">HOME</a></li>
                        <li><a class="scrollLink" href="#about" target="_self" title="Sobre">QUEM SOMOS</a></li>
                        <li><a href="#partner" data-toggle="modal" title="Seja um fornecedor">SEJA UM FORNECEDOR</a></li>
                        <li><a href="https://shopper.alfreddelivery.com/" target="_blank" title="Seja um Shopper">SEJA UM SHOPPER</a></li>
                        <li><a href="#" target="_self" title="Seja um Franqueado">SEJA UM FRANQUEADO</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="links-footer list-unstyled">
                        <li><a href="https://www.facebook.com/alfreddelivery/" target="_blank" title="Curta nossa fanpage"><i class="fa fa-facebook-square"></i> FACEBOOK</a></li>
                        <li><a href="https://www.instagram.com/alfreddelivery/" target="_blank" title="Siga nosso Instagram"><i class="fa fa-instagram"></i> INSTAGRAM</a></li>
                        <li><a href="#suport" data-toggle="modal"><i class="fa fa-envelope"></i> CONTATO E SUPORTE</a></li>
                        <li><a href="https://www.alfreddelivery.com/termo" target="_blank" title="Termo de uso">TERMO DE USO</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="white-color text-left">© Copyright 2019 ALFRED DELIVERY <br>Todos os Diretos Reservados <br>Av. Dra Nadir Aguiar, 1805 - Sala 209 Jd. Dr.Paulo Gomes Romeo | Ribeirão Preto, SP <br><a href="mailto:contato@alfreddelivery.com" style="color:#fff;">contato@alfreddelivery.com</a></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>© @DateTime.Now.Year • Alfred Delivery • Todos direitos reservados</p>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="suport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suport"><strong></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="enviar-contato" method="post">
                        <div role="main" id="contato-c3608c21755aa57e5e9e"></div>
                        <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
                        <script type="text/javascript">new RDStationForms('contato-c3608c21755aa57e5e9e-html', 'UA-115545281-5').createForm();</script>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="partner" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suport"><strong></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cl.ose" style="margin-top: -21px;">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div role="main" id="estabelecimento-47433cc0d9033e472647"></div>
                <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
                <script type="text/javascript">new RDStationForms('estabelecimento-47433cc0d9033e472647-html', 'UA-115545281-5').createForm();</script>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    <script src="~/static/js/jquery-2.2.4.min.js"></script>
    <script src="~/static/js/bootstrap.min.js"></script>
    <script src="~/static/js/swiper.jquery.min.js"></script>
    <script src="~/static/js/wow.min.js"></script>
    <script src="~/static/js/jquery.countTo.min.js"></script>
    <script src="~/static/js/lity.min.js"></script>
    <script src="~/static/js/mask.js"></script>
    <script src="~/static/js/plugins.js"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-115545281-5');</script>
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/39f95fde-e19a-4e59-bc51-382b7907d352-loader.js"></script>
</body>

</html>