﻿<b>GERAIS DA PLATAFORMA ALFRED DELIVERY Política de Privacidade do Alfred Delivery</b> 
<p>
    Política de Privacidade explica o uso das informações coletadas pela MICALI DESENVOLVIMENTO DE APLICATIVOS LTDA -ME, sociedade empresária inscrita no CNPJ/MF sob o 28.663.927/0001-20, com sede na Rua Iguape, 485, apto 13, bairro Jardim Paulista, CEP 14090-092, Ribeirão Preto do Estado de São Paulo e suas empresas subsidiárias ou afiliadas (designadas em conjunto, “Alfred Delivery”).
    Este documento é parte integrante dos Termos e Condições de Uso do Portal Alfred Delivery.com, disponível em https://www.alfreddelivery.com.br.
    A Política de Privacidade do Alfred Delivery foi elaborada para reafirmar o nosso compromisso com a privacidade e a segurança das informações que coletamos de nossos Usuários.
    A Alfred Delivery pode alterar, modificar, adicionar ou remover partes deste termo a qualquer momento, mediante a sua publicação. Leia com atenção as informações aqui apresentadas, pois o seu uso contínuo dos nossos produtos e serviços será considerado como o seu consentimento em relação a esta Política de Privacidade e quaisquer atualizações. Esta Política de Privacidade está incorporada e sujeita aos Termos de Uso.
</p> 
<p>
    DEFINIÇÕES
    QUEM É CONSIDERADO CONSUMIDOR: Qualquer pessoa natural que, como destinatário final, use a plataforma para adquirir e desfrutar de produtos e serviços de consumo através da plataforma Alfred Delivery.
    QUEM É CONSIDERADO USUÁRIOS: Todas as pessoas que se cadastram no Portal Alfred Delivery e adquirem uma Conta de Acesso individual e exclusiva, clientes ou não.
    O uso da Plataforma é feito pelo Consumidor como uma pessoa capaz e afirmando que, para celebrar contratos de compra e venda com os fornecedores, com plena capacidade legal para estar sujeito a direitos e obrigações, qualidades que ele endossa ao gerar o seu registro.
</p>

<p>
    QUEM SÃO OS NOSSO CLIENTES: Todas as pessoas que adquiriram os produtos ou serviços oferecidos pelo Alfred Delivery .
    Cabe ressaltar que alguns produtos oferecidos, como por exemplo bebidas alcóolicas, cuja a aquisição requer, como regra que imprescindível que os usuários que tenham mais de 18 (dezoito) anos de idade é de integral responsabilidade dos usuários a veracidade das informações, para que assim tenham condições de anuir com o contrato e assumir responsabilidades.
    QUEM É CONSIDERADO FORNECEDOR: É toda pessoa física ou jurídica, pública ou privada, nacional ou estrangeira, bem como os entes despersonalizados, que desenvolvem atividade de produção, montagem, criação, construção, transformação, importação, exportação, distribuição ou comercialização de produtos ou prestação de serviços.
    QUEM É CONSIDERADO VENDEDOR: Pessoas físicas ou jurídicas que habitualmente têm a capacidade de contratação, acessam a Plataforma para oferecer e comercializar produtos para Consumidores.
    QUEM É CONSIDERADO SHOPPER: É o nome dado ao entregador, que em parceria com a Alfred Delivery , realiza a compra em seu nome e entrega o produto até o local desejado.
    II. DO OBJETO DO CONTRATO
    O presente Termo de Uso tem como objeto a compra e venda de produtos e serviços oferecidos por empresas parceiras, através do aplicativo Alfred Delivery, que presta o serviço de entrega do produto, com a o intuito de oferecer maior facilidade e economia de tempo para o cliente.
    III. NATUREZA LEGAL
    Os presentes termos e condições de uso regulam a relação contratual comercial que intermedia os consumidores, que acessam a plataforma virtual, ao fornecedor. TOKBEAUTY concede o direito pessoal, limitado, não exclusivo e não transferível, de entrar e usar este site/aplicativo. Este termo de uso é aplicado aos usuários em geral, prestadores de serviço, profissionais de beleza, doravante denominados USUÁRIOS;
</p>

IV. O QUE VOCÊ NOS FORNECE
Nós coletamos informações fornecidas por você ou informações com acesso permitido por você. As informações solicitadas são: seu nome, uma foto, data de nascimento, e-mail e endereço físico, número de telefone, profissão, gênero, informações de mídia social e perfil, informações de localização (GPS) e, quando necessário, informações solicitadas de cartão de crédito.
Os Consumidores que tiverem redes sociais Facebook e Google +, poderão criar sua conta de usuário com o uso das credenciais nelas definidas, para as quais a Plataforma se comunicará com esta opção, podendo ela utilizar os dados do Facebook e Google+ para monitorar e assim, trazer maior conforto e agilidade nas suas buscas Uma vez que a informação foi fornecida, o nome e senha do usuário são validados pelo Operador para acessar a Plataforma.
O uso das contas é pessoal e intransferível.
Caso esqueça os dados de validação ou usurpação destes, é obrigação do Consumidor entrar em contato com SAC do Alfred Delivery e informar que "esqueceu sua senha" ou através do ícone “esquici a senha ou usuário”.
Em nenhum momento o Operador do Alfred Delivery solicitará ao Consumidor informações que NÃO são necessárias para sua conexão com a plataforma. Os dados do cartão de crédito só serão solicitados no momento do pagamento virtual se for assim definido pelo Consumidor, pois poderá ser também em dinheiro.
V. MODIFICANDO OU EXCLUINDO SUAS INFORMAÇÕES
Você pode modificar ou excluir o seu perfil através da sua conta. As suas informações postadas anteriormente ainda poderão ser visualizadas publicamente. A Alfred Delivery pode reter informações e conteúdo em nossas pastas e arquivos de backup.
VI. O QUE COLETAMOS DE VOCÊ
Podemos coletar automaticamente as informações em relação à sua interação com e uso dos nossos produtos e serviços. As informações que podemos coletar incluem, entre outros, seu número de telefone, informações de hardware e identificador do Dispositivo, endereço de IP, tipo do navegador e idioma, informações de cookie, tipo do sistema, se

você possui determinado software que permita acesso a certas características, horários de acesso, URLs de sites de referência, informações sobre suas compras e outras informações sobre suas interações conosco.
COMO PODEMOS UTILIZAR AS INFORMAÇÕES FORNECIDAS?
1. Para habilitar o seu Uso, 2. Aprimorar, customizar e personalizar as suas comunicações e experiências, 3. Para informar promoções 4. Operar, fornecer, aprimorar e manter os produtos e serviços da Alfred Delivery, incluindo a análise de tendências e comportamentos do usuário, 5. Enviar a você mensagens administrativas e outras informações sobre a Alfred Delivery, 5. Falar com você sobre sua compra, informações da conta ou atendimento ao cliente Fornecer e Realizar Promoções e Marketing, 6. Manter contato com você em relação aos nossos produtos, serviços e eventos, e para outros fins promocionais, 7. Administrar concursos, promoções, eventos, pesquisas ou outros itens, 8. Exibir marketing relevante para você compartilhando informações.
PRIVACIDADE INFANTIL
A Alfred Delivery respeita e obedece a legislação brasileira, por isso não será coletado ou solicitadas informações pessoais de usuários considerados crianças pelo Estatuto da Criança e Adolescente, ou seja, menores de 12 anos, de forma consciente.
VII. PRESTADORAS DE SERVIÇO
Podemos transferir suas informações para as prestadoras de serviço de processamento de cartão de crédito, frete, gestão de dados, distribuição de e-mail, pesquisa de mercado, análise da informação, e gestão de promoções.
VIII. DIREITOS DE PROTEÇÃO OU POR LEI
Podemos divulgar informações a pedido do governo, quando houver uma ordem judicial, quando exigido por lei, para cumprir as nossas políticas, ou para proteger os nossos direitos, bens ou segurança, além dos direitos, bens ou segurança de outras pessoas. Podemos compartilhar as informações para prevenir e combater o uso ilegal de produtos e serviços ou as violações dos Termos de Uso, ou para nos defender de reivindicações de

terceiros. Também podemos compartilhar informações com empresas que auxiliam na investigação ou proteção contra fraude.
IX. COMPARTILHAMENTO PADRÃO
Quando você se associa, ou utiliza, certos serviços, você concorda em compartilhar publicamente uma quantidade básica de informações, que podem incluir o seu nome de usuário, localização da cidade e foto do perfil.
Você pode escolher as informações que quiser compartilhar, bem como ajustar as suas configurações de privacidade e compartilhar mais informações. Você também pode escolher compartilhar as suas atividades em outras plataformas, como o Facebook.
X. PROTEÇÃO DE INFORMAÇÕES
A presente Política de Privacidade é regida e interpretada segundo as leis da República Federativa do Brasil.
MEDIDAS DE SEGURANÇA: Uma das ferramentas de medida de proteção é a criptografia e autenticação, para ajudar a proteger suas informações. Utilizamos servidores seguros quando você realiza seus pedidos. Todas as informações de cartão de crédito fornecidas por você são transmitidas através da uma tecnologia de alta segurança e criptografadas em nosso banco de dados.
XI. SEM GARANTIA
Entretanto, assim como outras empresas, a Alfred Delivery não pode garantir totalmente a segurança ou a confidencialidade das informações fornecidas por você.
XII. O QUE É A PLATAFORMA TECNOLÓGICA DO ALFRED DELIVERY
É um site/aplicativo que permite conectar pessoas que queiram comprar produtos em supermercados, mercados, restaurantes, bares e drogarias através de utilização gratuita do aplicativo Alfred Delivery, que pode ser baixado em dispositivos móveis lojas virtuais A Alfred Delivery é uma empresa que, em parceria com estabelecimento comerciais e com os entregadores, disponibiliza o serviço de entrega.

Esta conexão é auxiliada por meio do website e do aplicativo que foram desenvolvidos com a mais alta tecnologia, com o fim de aproximar os clientes com os profissionais e estabelecimentos.
Sendo assim, a Alfred Delivery não realiza nenhuma captação, gestão e direcionamento do recurso ao USUÁRIO PROFISSIONAL, sendo este escolhido pelo USUÁRIO CLIENTE. Por esse motivo, é cobrada uma taxa de administração do USUÁRIO PROFISSIONAL para que a Alfred Delivery possa atingir os seus objetivos empresariais e possa fazer jus às despesas diretas e indiretas da operação.
Em função de apenas realizar a gestão dos recursos e a aproximação dos produtos e serviços para o usuário cliente, a Alfred Delivery não se responsabiliza pela qualidade dos serviços. Não possui qualquer vínculo trabalhista ou societário e não é responsável pelo reembolso de valores pagos ao USUÁRIO PROFISSIONAL que porventura seja considerado inidôneo. No entanto, se compromete a usar todos seus esforços para verificar a idoneidade do USUÁRIO PROFISSIONAL.
XIII. COMPRA DOS PRODUTOS
Para comprar produtos e serviços que são exibidos na Plataforma tem como condição necessária a criação de uma Conta de Usuário, onde informações como nome, data de nascimento, telefone, endereço e endereço de e-mail serão solicitadas.
Para efetivar a compra é necessário que o usuário indique qual a forma de pagamento. São oferecidas duas opções: Dinheiro e cartão de crédito.
XIV. DESCRIÇÃO DO SERVIÇO
1. A Alfred Delivery através da plataforma do aplicativo exibem alimentos, bebidas, produtos de higiene pessoal e produtos de limpeza em geral, além de uma variedade de remédios farmacêuticos, que não necessitam de receita, que estão disponíveis para os Consumidores pelo seu conhecimento geral.
As informações que estão atreladas aos produtos foram transmitidas via webservice de outros mercados, supermercados e até da própria empresa. Nenhuma informação foi criada pela Alfred Delivery.
2. Primeiramente, para que se inicie o processo de compra, os usuários devem ser totalmente identificados em sua Conta de Usuário.

3. Umavezselecionadoosprodutosouserviços,oClienterecebeascaracterísticase o valor total do produto por meio de fotografias e notas de referência, que permitem a plena individualização do produto para a análise detalhada do Consumidor.
4. AoreceberarelaçãodoseupedidoaAlfredDeliveryirálocalizaroshoppermais próximo da sua região para oferecer o serviço de entrega.
Você deverá determinar o endereço da entrega do pedido. Facilitando, assim, o deslocamento do shopper até o local para facilitar sua rotina e economizar seu tempo.
5. Umavezqueopassoanteriorfoiconcluído,seráinformadoaoclienteumresumo do pedido e suas condições gerais, como a marca e preço. Desta forma, você pode validar e confirmar as informações e o produto selecionado.
O cliente terá o conhecimento do valor a ser pago pelos produtos selecionados, que são discriminados de forma unitária e juntos para todos os produtos a serem adquiridos. O valor corresponderá ao valor total do produto, incluindo os custos de envio, transação e impostos.
6. Oclientedeveselecionarosmeiosdepagamentoqueeledesejausar,tendocomo possibilidades o pagamento em dinheiro na entrega ou através de pagamento eletrônico com o cartão de crédito.
7. Quando o shopper aceitar seu pedido será informado prazo para a entrega. Todos os shoppers terão indicação de nome e foto.
Você poderá conversar com o shopper sobre maiores informações do produto através de um CHAT que será disponibilizado ao finalizar seu pedido.
XV. DO CANCELAMENTO DO PEDIDO
Você poderá cancelar o pedido até 5 minutos após a solicitação enviada pelo aplicativo. Depois desse período você deverá entrar em contato com o shopper designado para sua compra e verificar se ele ainda não comprou. Caso ele não tenha comprado, deverá solicitar o cancelamento através do shopper e o histórico do chat ficará registrado com o seu pedido de cancelamento.
Não há o que se falar de reembolso caso o cancelamento não seja por uma dessas duas opções.
XVI. DA PROPRIEDADE INTELECTUAL

Toda informação, material, função, marca de produto, de serviço, denominação social, nome fantasia, direitos autorais, patentes, segredo de negócio, ou outras propriedades intelectuais são de propriedade da Alfred Delivery.
Com exceção aos casos autorizados expressamente e por escrito, nenhum conteúdo do aplicativo e do site pode ser usado, reproduzido, transmitido, distribuído, ou explorado de qualquer forma, a não ser para o propósito específico dos sites/aplicativos.
O pedido de autorização para uso de qualquer informação pode ser feito no seguinte e- mail contato@alfreddelivery.com.;
XVII. DA RESPONSABILIDADE 1. Dos produtos
O Alfred Delivery não se responsabiliza por defeitos e vícios do produto.
Não se responsabiliza por danos causados a terceiros.
Danos causados aos clientes serão reportados ao estabelecimento parceiro responsável pela venda e consumo do produto.
A Alfred Delivery mantém a responsabilidade por toda divulgação de informação disponível no aplicativo.
Os Shoppers possuem total responsabilidade por averiguar as condições dos produtos da entrega. Responsabilidade de conferir a validade, a estética, por exemplo se estiver amassado e verificar a marca corretamente.
2. Dosusuários
Os usuários têm a responsabilidade de manter a confidencialidade do nome, e de todas as atividades ocorridas na conta e a não infringir este termo de uso. Os usuários devem cooperar com a Alfred Delivery na defesa de qualquer reclamação por parte de terceiros e/ou usuários prejudicados.
O Cliente será o único responsável pela (i) veracidade dos dados e informações por si fornecidos ao site e (ii) guarda de “login” (e-mail) e senha de sua Conta, se for o caso. Por isso, o Cliente responderá, absoluta e exclusivamente, por eventuais danos derivados (i) da falsidade dos dados e informações por si fornecidos ao site e/ou (ii) do uso indevido de sua Conta, em âmbito cível e criminal, seja perante a Alfred Delivery e/ou terceiros. Constatada a falsidade destes dados e informações e/ou o uso indevido da Conta do

Cliente, a Alfred Delivery poderá bloquear o acesso do mesmo ao site e/ou suspender sua Conta.
3. Dosparceiros
O usuário profissional tem responsabilidade por todas as informações cadastradas sob pena de ser removido do cadastro.
Os estabelecimentos parceiros que terão produtos para a venda são totalmente responsáveis por quaisquer divergências de informações e de defeito de qualidade.
A Alfred Delivery não se responsabiliza por quaisquer incidentes que possa ocorrer com os serviços prestados pelos parceiros, sendo estes, os únicos e responsáveis por seus serviços e seus atos.
Os usuários clientes são livres para escolherem o profissional que desejarem.
Todas as informações referente alergias, ou qualquer outra informação que deve ser fornecida, é de responsabilidade do usuário cliente.
A Alfred Delivery não é responsável pela veracidade das informações disponibilizadas pelos profissionais e não tem qualquer vínculo trabalhista e societário com estas.
XVIII. DA RESCISÃO
A Alfred Delivery tem o direito de impedir e rescindir o acesso ao site/aplicativo, independentemente de motivo ou aviso prévio. Os usuários também têm o direito de rescindir e não acessar o site por qualquer motivo, sempre comprometendo com as obrigações deste termo de uso que permanecerem no tempo.
XIX. DAS ALTERAÇÕES DO TERMO DE USO
É de responsabilidade o usuário verificar este termo periodicamente. Somente o fato de continuar utilizando os serviços, após a modificação do termo, já é o bastante para a concordância das alterações.
XX. PRINCÍPIOS DA BOA-FÉ E DA INFORMAÇÃO.
As imagens contidas ao site, principalmente do(s) produto(s) são meramente ilustrativas e de propriedade de cada empresa, não podendo ser usadas para outros fins, sem autorização prévia.

XXI. DISPOSIÇÕES GERAIS
Este termo de uso deve ser interpretado em consonância com a legislação brasileira. As partes elegem o foro da Comarca de Ribeirão Preto - SP, Brasil, para dirimir qualquer conflito oriundo dos serviços oferecidos pela Alfred Delivery. Se qualquer disposição deste Termo de Uso for considerada ilegal, nula ou por qualquer razão inaplicável, então essa disposição será considerada independente deste termo de uso e não afetará a validade e aplicabilidade de quaisquer disposições remanescentes. Qualquer tolerância ou silêncio dos usuários em relação às obrigações aqui assumidas será considerado mera liberalidade, não gerando direito para as Partes e nem podendo ser interpretada como novação, aceitação, repactuação ou aditamento ao Contrato, de forma que o não exercício por qualquer dos usuários do direito previsto neste instrumento ou dele decorrente não implicará renúncia ou novação, podendo a qualquer momento ser exigido seu cumprimento.
A Alfred Delivery poder-se-á suspender ou encerrar a conta do usuário/parceiro que infringir estes termos de uso ou qualquer outro termo especial relacionado a direitos autorais ou outros casos. Este Acordo constitui a totalidade do acordo entre as partes relativos às matérias aqui previstas e substitui todos os acordos, representações e entendimentos anteriores e contemporâneos.
XXII. SAC (Serviço de Atendimento ao Cliente)
O Cliente pode obter informações, esclarecer dúvidas, reclamar e/ou relatar vício de qualidade percebido ao recebimento do Pedido, gratuitamente, durante e após o expediente de entrega, ao canal de SAC (Serviço de Atendimento ao Cliente): e-mail atendimento@alfreddelivery.com .
