﻿<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115545281-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115545281-5');
</script>


<script>
    function initialize() {
        var device = window.navigator.appVersion;
        if (device.indexOf('iPhone') != -1) {
            window.location.href = 'https://itunes.apple.com/us/app/alfred-delivery/id1336677028?l=pt&ls=1&mt=8';
        } else if (device.indexOf('Android') != -1) {
            window.location.href = 'https://play.google.com/store/apps/details?id=alfred.delivery.cliente&hl=pt';
        }
        else {
                window.location.href = 'http://www.alfreddelivery.com';
            }
        };
    initialize();
</script>
