@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.img-responsive-h {
  width: auto;
  height: 100%;
}
.header-section {
  font-size: 3.4285em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #424242;
  margin-top: 0;
  margin-bottom: 30px;
}
input[required=required], select[required=required], textarea[required=required] {
	border-left: 2px solid #c60000;
}
@media(max-width: 767px) {
  body { padding-top: 50px; }
  .header-section { font-size: 2.5714em; }
}
@media(max-width: 380px) {
  .header-section { font-size: 2.2857em; }
}

/* navbar */
.navbar-alfred {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.navbar-alfred .navbar-nav>li>a {
  text-transform: uppercase;
  color: #757575;
  font-weight: 500;
}
.navbar-alfred .navbar-nav>li>a:hover {
  color: #c60000;
  background-color: transparent;
}
.navbar-alfred .navbar-nav>li>a:focus {
  color: #c60000;
  background-color: transparent;
}
.navbar-alfred .navbar-nav>.active>a,
.navbar-alfred .navbar-nav>.active>a:focus,
.navbar-alfred .navbar-nav>.active>a:hover {
  color: #c60000;
  background-color: #ffffff;
}
.navbar-alfred .navbar-toggle { border-color: #ffffff; }
.navbar-alfred .navbar-toggle:focus, .navbar-alfred .navbar-toggle:hover { background-color: #ffffff; }
.navbar-alfred .navbar-toggle:hover .icon-bar { background-color: #424242; }
.navbar-alfred .navbar-toggle:focus .icon-bar { background-color: #c60000; }
.navbar-alfred .navbar-toggle .icon-bar { background-color: #757575; }
.navbar-alfred .navbar-collapse, .navbar-alfred .navbar-form { border-color: #e7e7e7; }
@media(min-width: 768px) {
  .navbar-alfred .navbar-brand,
  .navbar-alfred .navbar-nav>li>a {
    min-height: 80px;
    display: flex;
    align-items: center;
  }
  .navbar-alfred .navbar-brand {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(max-width: 767px) {
  .navbar-alfred .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/* navbar */

/* banner */
.swiper-container {
  width: 100%;
  height: calc(100vh - 80px);
}
.swiper-slide {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide a { text-decoration: none; }
.swiper-slide h1 {
  font-size: 9.1428em;
  font-weight: 900;
  text-transform: uppercase;
  color: #424242;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  background-image: none;
  display: flex;
  align-items: center;
  color: #333;
  font-family: 'fontawesome';
  font-size: 1.2857em;
}
.swiper-button-next { right: 15px; }
.swiper-button-prev { left: 15px; }
.swiper-button-next:after {
  width: 100%;
  margin-top: 4px;
  margin-left: 4px;
  text-align: center;
  content: "\f054";
}
.swiper-button-prev:after {
  width: 100%;
  margin-top: 4px;
  margin-right: 4px;
  text-align: center;
  content: "\f053";
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled { pointer-events: unset; }
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active { background: #c60000; }
@media (max-width: 991px) {
  .swiper-button-next, .swiper-button-prev { display: none; }
}
@media(min-width: 992px) {
  .swiper-container { min-height: 600px; }
  .swiper-slide h1 { margin-left: 60px; }
}
@media(max-width: 1199px) {
  .swiper-slide h1 { font-size: 6.8571em; }
}
@media(max-width: 991px) {
  .swiper-container { height: 480px }
  .swiper-slide h1 { font-size: 5.1428em; }
}
@media(max-width: 767px) {
  .swiper-container { height: 320px }
  .swiper-slide h1 { font-size: 3.4285em; }
}
@media(max-width: 380px) {
  .swiper-slide h1 { font-size: 2.5714em; }
}
/* banner */

/* how-it-works */
#how-it-works {
  min-height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#how-it-works .step {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
#how-it-works .number-step {
  font-size: 6.8571em;
  font-weight: 300;
  line-height: 96px;
}
#how-it-works .ic-step {
  color: #f7e6e6;
  font-size: 5.1428em;
  text-align: center;
}
#how-it-works .title {
  color: #757575;
  font-size: 2.5714em;
  font-weight: 300;
}
#how-it-works .title>small {
  display: block;
  font-size: 0.5em;
  font-weight: 300;
  color: #757575;
}
@media(max-width:767px) {
  #how-it-works .step { display: block; }
  #how-it-works .number-step {
    text-align: right;
    line-height: 72px;
    font-size: 5.1428em;
  }
  #how-it-works .ic-step {
    text-align: left;
    line-height: 72px;
    font-size: 4.5714em;
  }
  #how-it-works .title {
    text-align: center;
    font-size: 1.7142em;
  }
  #how-it-works .title>small {
    font-size: 0.75em;
  }
}
/* how-it-works */

/* buy-now */
#buy-now {
  cursor:pointer;
  text-align: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
#buy-now .item {
  text-align: center;
}
#buy-now .item img {
  width: 200px;
  display: block;
  margin: auto;
}
#buy-now .item .title {
  text-transform: uppercase;
  font-weight: 500;
  color: #424242;
  margin: 15px 0;
  display: inline-block;
}
/* buy-now */

/* who-we-are */
#who-we-are {
  padding-top: 30px;
  padding-bottom: 30px;
}
#who-we-are p {
  font-size: 1.7142em;
  font-weight: 300;
  color: #757575;
  text-align: justify;
}
#who-we-are img {
  margin-top: 30px;
}
@media(max-width: 767px) {
  #who-we-are p {
    font-size: 1.1428em;
  }
}
/* who-we-are */

/* contact */
#contact {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
  min-height: 600px;
}
#contact p {
  font-size: 1.2857em;
  font-weight: 300;
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
}
.form-group label {
  text-transform: uppercase;
  font-weight: 500;
  color: #424242;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #ffffff;
  font-size:  1.1428em;
  font-weight: 300;
}
.btn-cadastrar {
  background-color: #c60000;
  color: #FFF!important;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}
/* contact */

/* footer */
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4D4D4D;
  text-align: center;
}
footer a { margin: 5px; }
footer img {
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
}
footer p {
  font-weight: 300;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
}
footer .author {
  color: #000;
  font-weight: 900;
  background-color: #ffffff;
  padding: 2px 5px;
}
/* footer */