﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Alfred Delivery - Você pede, a gente entrega - Franquia </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Você sempre quis alguém que fizesse tudo pro você. O Alfred nasceu há pouco tempo em Ribeirão Preto, mas já está em crescimento acelerado e logo estará em outras cidades.">
    <meta name="keywords" content="Alfred, delivery, pet shop, supermercado, farmacia, tempo, papelaria, ribeirão preto, startup, unicórnio, bebidas">
    <link rel="icon" href="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/favicon.png">
    <link rel="stylesheet" href="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/css/swiper.min.css">
    <link rel="stylesheet" href="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/css/animate.css">
    <link rel="stylesheet" href="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/css/lity.min.css">
    <link rel="stylesheet" href="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/css/style.css">
    <meta property="og:url" content="https://www.alfreddelivery.com.br/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Alfred - Você pede, s gente entrega">
    <meta property="og:description" content="Você sempre quis alguém que fizesse tudo pro você. O Alfred nasceu há pouco tempo em Ribeirão Preto, mas já está em crescimento acelerado e logo estará em outras cidades.">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115545281-5"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115545281-5');
    </script>


    <!--[if lt IE 9]>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/html5shiv.min.js"></script>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/respond.min.js"></script>
    <![endif]-->

    <style>
        .bg-textarea {
            background: #e8e8e8;
        }

        .space-title {
            line-height: 35px
        }

        .icons-alfred {
            float: left;
            margin: 0 15px 0 0
        }

        .space-divs {
            margin: 0 0 35px 0
        }

        .bt-width {
            width: 150px
        }
    </style>
</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="5" class="scrollspy-example">
    <nav class="navbar navbar-default navbar-fixed-top appsLand-navbar navBar__style-2">
        <div class="container">
            <div class="navbar-header">
                <span class="menu-toggle">
                    <i class="chart"></i>
                    <i class="chart"></i>
                    <i class="chart"></i>
                </span>
                <a class="navbar-brand" href="./" target="_self" title="Home"><img alt="Alfred Delivery" src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/logo-alfred.png"></a>
            </div>
            <div class="app-links" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right appsLand-links">
                    <li class="visible-xs-block text-center mobile-size-logo">
                        <a href="./" target="_self" title="Home"><img alt="Alfred Delivery" src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/logo-alfred.png" class="img-responsive"></a>
                    </li>
                    <li><a href="./" target="_self" title="Página inicial">home</a></li>
                    <li><a href="https://www.alfreddelivery.com/#about" target="_blank" title="Compre em nossa loja">quem somos</a></li>
                    <li><a href="https://www.alfreddelivery.com/#partner" data-toggle="modal" title="Seja um fornecedor">seja um fornecedor</a></li>
                    <li><a href="https://shopper.alfreddelivery.com/" target="_blank" title="Seja um Shopper">seja um shopper</a></li>
                    <li><a href="https://apple.co/2EmmPJN" target="_blank" title="Faça o download na Apple Store"><img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/loja_app_store.png" alt="Faça o download na Apple Store" style="position: relative;top: -10px"></a></li>
                    <li><a href="https://bit.ly/2Eolked" target="_blank" title="Faça o download no Google Play"><img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/loja_google_play.png" alt="Faça o download no Google Play" style="position: relative;top: -10px"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="active-navbar appsLand-header custom-shape-1" id="home">
        <div class="app-overlay">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-4" style="margin:50px 0 0 0">
                            <div class="site-intro-content">
                                <p style="margin-bottom: 10px;" class="bg-feature-lh text-left">Seja um franqueado do Alfred Delivery e inove em<br /> setor que vem se destacando no mundo todo.</p>
                                @*<p class="lead wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                    Invista
                                </p>*@
                                <h1 style="font-weight: 700;" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">Baixe a apresentação completa</h1>
                                <p class="bg-feature-lh text-left">Preencha seus dados.</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div role="main" id="franqueado-95236ea73d8e5ea7ac83"></div>
                            <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
                            <script type="text/javascript">new RDStationForms('franqueado-95236ea73d8e5ea7ac83-html', 'UA-115545281-5').createForm();</script>


                        </div>
                        <div class="col-lg-6 col-md-6 float-right hidden-xs hidden-sm">
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <img alt="Alfred Delivery" src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/alfred-cel-franquia.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="entry-main">

        <section style="padding: 40px 0 0px 0; overflow: initial;" class="mini-feature__style-2 section-without-title" id="download">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-12 col-sm-12">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h1 class="bg-feature-ct text-left">A primeira e única</h1>
                                <h1 class="bg-feature-ct text-left" style="font-weight: 400;">Franquia de "Delivery de Tudo"</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="padding: 80px 0; width: 100%;" class="features bg-feature custom-shape-1" id="features">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-6 hidden-xs" style="margin:70px 0 0 0">
                            <div class="img-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <img alt="Alfred Delivery" src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/cel-1bi.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 white-color" style="margin:190px 0 0 0">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="white-color"><span class="span-girl">Um mercado que cresce mais de</span><br>1 bilhão por ano</h2><br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="mini-feature__style-2 section-without-title">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s" style="margin:115px 0 0 0">
                                <h2 class="bg-feature-ct text-left">Negócio inovador</h2>
                                <p class="bg-feature-lh text-left">O Alfred Delivery funciona como um MARKETPLACE, um modelo de negócio também é conhecido como uma espécie de shopping center virtual. É considerado vantajoso para o consumidor, visto que reúne diversas marcas e lojas em um só lugar, facilita a procura pelo melhor produto e melhor preço. <br><br>Em outras palavras, você terá um “Shopping Virtual” só para você na sua cidade, visto que o franqueado do Alfred é exclusivo em sua cidade.</p>
                                <h3 class="space-title"><b>Um Shopping Virtual vendendo 24h exclusivamente para você.</b></h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s" style="margin:115px 0 0 0">
                                <div class="col-md-12 space-divs">
                                    <img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/icone-plataforma.png" alt="Plataforma Alfred Delivery" class="icons-alfred">
                                    <h4><b>Plataforma pronta.</b></h4>
                                    <p>Melhor custo benefício, já que facilita a operação e diminui os custos fixos. Mais aumento na receita!</p>
                                </div>
                                <div class="col-md-12 space-divs">
                                    <img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/icone-credibilidade.png" alt="Credibilidade Alfred Delivery" class="icons-alfred">
                                    <h4><b>Credibilidade.</b></h4>
                                    <p>O modelo Marketplace empresta sua credibilidade para quem está cadastrado na plataforma, e vice-versa.</p>
                                </div>
                                <div class="col-md-12 space-divs">
                                    <img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/icone-ganha-ganha.png" alt="Ganha-ganha Alfred Delivery" class="icons-alfred">
                                    <h4><b>Ganha-ganha.</b></h4>
                                    <p>O estabelecimento só paga algo se vender. Não há custo fixo, sendo cobrada apenas uma taxa por cada transação.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mini-feature__style-2 section-without-title bg-color-grey">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-4 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/icon4.png" alt="Alfred" class="img-responsive displayInline"></h2>
                                <h3 class="bg-feature-ct text-center">Seja um Fornecedor</h3>
                                <p class="bg-feature-lh text-center">Adicione sua loja no Alfred Delivery e comece a faturar desde já!</p><br>
                                <p><a href="#partner" data-toggle="modal" title="Seja um fornecedor" class="btn btn-danger center-block bt-width">SAIBA MAIS</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/icon5.png" alt="Alfred" class="img-responsive displayInline"></h2>
                                <h3 class="bg-feature-ct text-center">Seja um Shopper</h3>
                                <p class="bg-feature-lh text-center">Quer ganhar uma grana extra fazendo entregas? Clique aqui agora</p><br>
                                <p><a href="https://shopper.alfreddelivery.com/" target="_blank" title="Seja um Shopper" class="btn btn-danger center-block bt-width">SAIBA MAIS</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2 class="bg-feature-ct text-center"><img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/icon-sobre.png" alt="Alfred Delivery" class="img-responsive displayInline"></h2>
                                <h3 class="bg-feature-ct text-center">Sobre o Alfred</h3>
                                <p class="bg-feature-lh text-center">Conheça um pouco mais desse App que vem se destacando no mercado</p><br>
                                <p><a href="#" target="_self" title="Sobre o Alfred" class="btn btn-danger center-block bt-width">SAIBA MAIS</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mini-feature__style-2 section-without-title">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2 class="bg-feature-ct force-color">Dúvidas?</h2>
                    <p>Entre em contato conosco .Preencha nosso formulário e <br> baixe nossa apresentação de franquia e saiba mais.</p>
                </div>
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="form-group col-md-12 text-center">
                            <a href="#download" class="appsLand-btn appsLand-btn-gradient scrollLink"><span><i class="fa fa-download"></i> Baixar a apresentação</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="scrollToTop appsLand-btn appsLand-btn-gradient"><span><i class="fa fa-angle-up"></i></span></div>
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <footer class="apps-footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-3">
                    <div class="apps-short-info">
                        <a href="./" target="_self" title="Alfred Delivery"><img alt="Alfred Delivery" src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/logo-footer.png"></a>
                    </div>
                    <a href="https://apple.co/2EmmPJN" target="_blank" title="Faça o download na Apple Store"><img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/loja_app_store.png" alt="Faça o download na Apple Store"></a><br><br>
                    <a href="https://bit.ly/2Eolked" target="_blank" title="Faça o download no Google Play"><img src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/images/loja_google_play.png" alt="Faça o download no Google Play"></a>
                </div>
                <div class="col-md-3">
                    <ul class="links-footer list-unstyled">
                        <li><a href="./" target="_self" title="Home">HOME</a></li>
                        <li><a href="#" target="_self" title="Sobre">QUEM SOMOS</a></li>
                        <li><a href="#partner" data-toggle="modal" title="Seja um fornecedor">SEJA UM FORNECEDOR</a></li>
                        <li><a href="https://shopper.alfreddelivery.com/" target="_blank" title="Seja um Shopper">SEJA UM SHOPPER</a></li>
                        <li><a href="#" target="_self" title="Seja um Franqueado">SEJA UM FRANQUEADO</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="links-footer list-unstyled">
                        <li><a href="https://www.facebook.com/alfreddelivery/" target="_blank" title="Curta nossa fanpage"><i class="fa fa-facebook-square"></i> FACEBOOK</a></li>
                        <li><a href="https://www.instagram.com/alfreddelivery/" target="_blank" title="Siga nosso Instagram"><i class="fa fa-instagram"></i> INSTAGRAM</a></li>
                        <li><a href="#suport" data-toggle="modal"><i class="fa fa-envelope"></i> CONTATO E SUPORTE</a></li>
                        <li><a href="https://www.alfreddelivery.com/termo" target="_self" title="Termo de uso">TERMO DE USO</a></li>
                        <li><a href="#" target="_self" title="Política de Privacidade">POLÍTICA DE PRIVACIDADE</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="white-color text-left">© Copyright 2019 ALFRED DELIVERY <br>Todos os Diretos Reservados <br>Av. Dra Nadir Aguiar, 1805 - Sala 209 Jd. Dr.Paulo Gomes Romeo | Ribeirão Preto, SP <br>contato@alfreddelivery.com</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>© 2019 • Alfred Delivery • Todos direitos reservados</p>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="suport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suport"><strong>CONTATO E SUPORTE</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="enviar-contato" method="post">
                        <div role="main" id="contato-c3608c21755aa57e5e9e"></div>
                        <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
                        <script type="text/javascript">new RDStationForms('contato-c3608c21755aa57e5e9e-html', 'UA-115545281-5').createForm();</script>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="partner" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suport"><strong></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div role="main" id="estabelecimento-47433cc0d9033e472647"></div>
                <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
                <script type="text/javascript">new RDStationForms('estabelecimento-47433cc0d9033e472647-html', 'UA-115545281-5').createForm();</script>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/jquery-2.2.4.min.js"></script>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/bootstrap.min.js"></script>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/swiper.jquery.min.js"></script>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/wow.min.js"></script>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/jquery.countTo.min.js"></script>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/lity.min.js"></script>
    <script src="https://adm.alfreddelivery.com/Content/Uploads/sitefranqueado/js/plugins.js"></script>

    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/39f95fde-e19a-4e59-bc51-382b7907d352-loader.js"></script>
</body>
</html>